@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/containers";
@import "components/list";
@import "components/todo";


body{
  padding-top: 3rem;
  background-color: #fefefe;
}

.header{
  text-align: center;
  height: 8rem;
  width: 100%;
  background-color: $blue;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: #fff;

  h1 {
    line-height: 8rem;
  }
}
