.todo{
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 1rem;
  transition: background 0.4s ease;

  p, input {
    margin: 0;
  }

 > :first-child {
   margin-right: 1rem;
 }

 &:hover{
   color: white;
   background: rgba(33, 153, 232,0.6);
    .todo-subtext{
    color: #f0f0f0;
    font-weight: normal;
  }
 }
}

.todo-subtext{
  color: #999;
}

.todo-completed{
  width: 80%;
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }


  &:hover{
    color: white;
    background:#f0f0f0;

    .todo-subtext{
      color: $light-color;
    }
  }
}
